
body {
    background-color: #0C243C;
    font-family: Verdana, serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    color: #C0D7FB;
}

header{
    text-align: center;
    border: 1px solid #6555E7;
    border-radius: 1rem;
    margin-bottom: 2rem; 
}

.maintenance {
    text-align: center;
    color: lightgreen;
    margin-bottom: 2rem;
    font-family: 'Courier';
    font-size: 1.2rem;
}

h4 {
    text-decoration: underline #647494;
    color: #0C243C;
}

section {
    display: flex;
}

nav {
    background-color: ghostwhite;
    padding: 0rem 1rem 0rem 1rem;
    border: 2px solid #C0D7FB;
    border-radius: 1rem;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 2rem;
}

a {
    background-color: #C0D7FB;
    color: #0C243C;
    text-decoration: none;
    padding: 6px;
    border: 1px solid #0C243C;
    border-radius: 2rem;
    /* You don't need this
    border-top: 1px solid #C0D7FB;
    border-right: 1px solid #C0D7FB;
    border-bottom: 1px solid #C0D7FB;
    border-left: 1px solid #C0D7FB;*/
}

a:hover{
    color: blueviolet;
    text-decoration: underline;
}

a:active {
    color: red;
    background-color: ghostwhite;
}

/*colors from this website:
https://blog.hubspot.com/website/blue-website */