/* import './Styles.css'; */
.nav:hover  {
    color: #C0D7FB;
    transform: scale(1.1);
    transition: transform .1s;
}
/* transform: translateY(-2px); */

/* .cards {
    box-shadow: 5px;
} */

.cards {
    transition-duration: 0.4s;
}

.cards:hover {
    color: #0F4BF1;
    transform: translateY(-2px);
    transition: transform .2s;
}

.cards:active {
    color: red;
}

.border {
    border-bottom: 2px solid #0C243C;
  }


.aboutgrid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.abouttext p{
    padding-bottom: 1rem;
    /* padding-top: 1rem; */
    /* padding-left: 1rem; */
    padding-right: 1rem;
    line-height: 1.5;
    font-size: x-large;
}
/* ############## */
@media (max-width:850px) {
    .abouttext p {
        font-size: large;
    }
}

.image{
    border: 1px solid #C0D7FB;
    width: 75%;
}

@media (max-width:850px) {
    .image {
        width: 70%;
    }
}

.link {
    color: #0F4BF1;

}

.link:hover{
    text-decoration: underline;
}

.languages {
    margin: 0;
    padding: 0;
    list-style-type: square;
    padding-left: 1rem;
}

.languages li {
    /* display: block; */
    /* text-align: center; */
    float: left;
    padding-top: 1rem;
    padding-right: 3rem;
    font-size: large;
    font-family: monospace

}

@media (max-width:850px) {
    .languages li {
        font-size: medium;
    }
}

.resume {
    display: inline-block;
    border: 2px solid #0C243C;
    color: #0C243C;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: large;
    /* background-color: #C0D7FB; */
    font-weight: 500;
    transition-duration: 0.4s;
}

@media (max-width:850px) {
    .resume {
        font-size: medium;
    }
}
/* ################# */

.resume:hover {
    /* color: #0F4BF1; */
    background-color: #C0D7FB;
    transform: scale(1.1);
    transition: transform .2s;
}

/* .email-me {
    font-size: x-large;
}
.email-me a:hover {
    color: #0F4BF1;
    text-decoration: underline;
} */

.box {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* grid-template-columns: (3,minmax(0,1fr)); */
    grid-gap: 2rem;
    }

@media (max-width:850px) {
.box {
        display: flex;
        flex-wrap: wrap;
        }
    }

.aboutme-section {
    padding: 4rem;
    /* padding: 64px; */
}

@media (max-width:850px) {
    .aboutme-section {
        padding: 2rem;
    }
}

@media (max-width:850px) {
.aboutgrid {
    display: flex;
    flex-wrap: wrap-reverse;
        }
    }

@media (max-width:850px) {
.abouttext{
        margin-top: 1rem;
        }
    }

/* Nav section */
@media (max-width:850px) {
    .chakra-stack.navhome.css-1ocidfa {
        margin-bottom: 1rem;
        font-size: 1rem;
    }
}

@media (max-width:850px) {
    .chakra-stack.navbox.css-1y0iuhv{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
            padding: 0;
            /* margin-top: .5rem; */
            font-size: small;
            }
        }

/* Landing section */
@media (max-width:850px) {
    .chakra-stack.css-5zjxuu {
        margin-left: 1rem;
        align-items: flex-start;
        gap: 2rem;
    }
}

@media (max-width:850px) {
    .chakra-heading.css-1apeglv {
        margin-top: 0;
        /* font-size: xx-large; */
    }
}

@media (max-width:850px) {
    .chakra-heading.css-tiszkr {
        /* font-size: large; */
        margin-top: 0;
    }
}

/* Cards */
@media (max-width:850px) {
    .chakra-heading.css-18j379d {
        font-size: medium;
    }
}

@media (max-width:850px) {
    .chakra-text.css-653kx9 {
        font-size: medium;
    }
}