/* import './Styles.css'; */

.nav {
    transition-duration: 0.1s;
}

.nav:hover  {
    color: #C0D7FB;
    transform: scale(1.1);
    transition: transform .1s;
}
/* transform: translateY(-2px); */

/* .cards {
    box-shadow: 5px;
} */

.cards {
    transition-duration: 0.4s;
}

.cards:hover {
    color: #0F4BF1;
    transform: translateY(-2px);
    transition: transform .2s;
}

.cards:active {
    color: red;
}

.border {
    border-bottom: 2px solid #0C243C;
  }


.aboutgrid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.abouttext p{
    padding-bottom: 1rem;
    /* padding-top: 1rem; */
    /* padding-left: 1rem; */
    padding-right: 1rem;
    line-height: 1.6;
    font-size: x-large;    
}

.image{
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    width: 75%;
}

.link {
    color: #0F4BF1;

}

.link:hover{
    text-decoration: underline;
}

.languages {
    margin: 0;
    padding: 0;
    list-style-type: square;
    padding-left: 1rem;
}

.languages li {
    float: left;
    padding-top: 1rem;
    padding-right: 3rem;
    font-size: large;  
    font-family: monospace
    
}

.resume {
    display: inline-block;
    border: 2px solid #0C243C;
    color: #0C243C;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: large;
    /* background-color: #C0D7FB; */
    font-weight: 500;
    transition-duration: 0.4s;
}

.resume:hover {
    /* color: #0F4BF1; */
    background-color: #C0D7FB;
    transform: scale(1.1);
    transition: transform .2s;
}